* {
    margin: 0;
    --grey-color:  hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}


.main {
    width: 100%;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: 
        url(../images/bg-pattern-top.svg),
        url(../images/bg-pattern-bottom.svg)
    ;
    background-position: -50% 220%, 140% -180%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attribution { 
    font-size: 11px; text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0 auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card {
    height: 500px;
    width: 500px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__banner {
    height: 200px;
    background: url('../images/bg-pattern-card.svg');
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.avatar {
    background: url('../images/image-victor.jpg');
    background-size: cover;
    border-radius: 50%;

    width: 100px;
    height: 100px;
    margin: -50px auto;
    border: 4px solid white;
}

.card__header {
    margin: 80px auto 15px;
    text-align: center;
}

.header__age {
    margin-left: 10px;
    color: var(--grey-color);
    font-weight: 400;
}

.card__subheader {
    text-align: center;
    /* font-weight: 700; */
    color: var(--grey-color);
}

.card__footer {
    border-top: solid 1px rgba(150, 150, 150, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.stats {
    text-align: center;
    margin: 35px auto;
}

.stats__number {
    font-weight: 700;
    text-transform: uppercase;
}

.stats__text {
    font-size: 14px;
    margin-top: 10px;
    color: var(--grey-color);
    letter-spacing: 2px;
}