* {
    margin: 0;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
}

.top-pattern {
    width: 100%;
    height: 100vh;
    background: url(../images/bg-pattern-top.svg) no-repeat;
    background-position: -50% 220%;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}